:root {
    --black: #000000;
    --white: #ffffff;
    --orange: orange;
    --dark-orange: orangered;
    --gray: #2e2e2e;
}

.efeito__vidro {
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 255, 165, 0, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
  }