.header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 70%;
    width: 100%;
}

.header__container--dois {
    display: flex;
    justify-content: flex-end;

    height: 50%;
    width: 60%;
}

.header__container--tres {
   display: flex;

    height: 30%;
    width: 100%;
}
