.header__button {
    background-image: url(../../img/icone-busca.png);
    background-color: orange;
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    width: 7%;
}