.main {
   display: grid;

    /* background: -webkit-gradient(linear, left top, left bottom, from(var(--gray)), to(var(--black))); */
    background-color: var(--gray);
    /* background-image: url(../../img/bg-teste02.png); */

    /* valor para teste */
    height: auto;

    padding-bottom: 100px;
}