.main {
   display: grid;

    /* background: -webkit-gradient(linear, left top, left bottom, from(var(--gray)), to(var(--black))); */
    /* background-color: var(--gray); */
    background-color: black;
    /* background-image: url(../../img/bg-teste02.png); */

    /* valor para teste */
    height: auto;
}